<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: elit_head}"/>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

<div class="site-wrap">

  <th:block th:replace="~{fragment/nav :: elit_nav_sidebar}"></th:block>
  <main class="main-content">

    <section class="site-section-hero bg-image"
             th:style="|background-image: url(@{${subject.selfLinkThumbUri()}})|"
             data-stellar-background-ratio="0.5" id="section-home">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-7 text-center">
          <h1 class="text-white heading text-uppercase" data-aos="fade-up" th:text="${subject.title}">Title</h1>
          <p class="lead text-white mb-5" data-aos="fade-up" data-aos-delay="100">
            <span th:text="${subject.about}">About</span>
          </p>
        </div>
      </div>
    </section>


    <div class="container-fluid">
      <div class="site-section blog-content-container">
        <div class="container">
          <div class="row">
            <div class="col-md-8 blog-content pr-lg-5">
              <h2 class="heading text-uppercase text-white" data-aos="fade-up">Blog</h2>
              <p class="lead w-100" th:if="${#lists.size(subject.posts)} == 0">
                There is no post !
              </p>

              <div class="jumbotron"
                   th:style="|background-image: url(@{${post.selfLinkThumbUri()}})|"
                   th:each="post : ${subject.posts}">
                <div class="jumbotron-container">
                  <h1 class="display-4" th:text="${post.getFormatTitle(10)}"/>
                  <p class="lead">
                    <span th:text="${post.createdDate}">Date</span>
                    <span th:if="${post.author} != null">
                      &bullet; <em>by</em></span>
                    <a
                       th:href="${post.author != null} ? @{${post.author.selfLinkPosts()}} : '#'"
                       th:text="${post.author?.getDisplayName()} ?: 'Unknown'"/>
                  </p>
                  <hr class="my-4">
                  <p th:text="${T(com.rygf.common.Formatter).formatString(post.description, 35)}"/>
                  <a class="btn btn-primary btn-lg"
                     th:href="@{${post.selfLinkDetail()}}" role="button">Read more</a>
                </div>
              </div>

              <div class="pt-5">
                <p>Categories: <a th:href="@{'/'}">Design</a>, <a th:href="@{'/'}">Events</a> Tags:
                  <a th:href="@{'/'}">#html</a>, <a th:href="@{'/'}">#trends</a></p>
              </div>


              <div class="pt-5">
                <h3 class="mb-5">6 Comments</h3>
                <ul class="comment-list">
                  <li class="comment">
                    <div class="vcard bio">
                      <img th:src="@{'/elit/images/person_2.jpg'}" alt="Image">
                    </div>
                    <div class="comment-body">
                      <h3>Jacob Smith</h3>
                      <div class="meta">January 9, 2018 at 2:21pm</div>
                      <p>When she reached the first hills of the Italic Mountains, she had a last
                        view back on the skyline of her hometown Bookmarksgrove, the headline of
                        Alphabet Village and the subline of her own road, the Line Lane. Pityful a
                        rethoric question ran over her cheek, then she continued her way.</p>
                      <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                    </div>
                  </li>

                  <li class="comment">
                    <div class="vcard bio">
                      <img th:src="@{'/elit/images/person_3.jpg'}" alt="Image">
                    </div>
                    <div class="comment-body">
                      <h3>Chris Meyer</h3>
                      <div class="meta">January 9, 2018 at 2:21pm</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem
                        laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe
                        enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                        nihil?</p>
                      <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                    </div>

                    <ul class="children">
                      <li class="comment">
                        <div class="vcard bio">
                          <img th:src="@{'/elit/images/person_5.jpg'}" alt="Image">
                        </div>
                        <div class="comment-body">
                          <h3>Chintan Patel</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Far far away, behind the word mountains, far from the countries Vokalia
                            and Consonantia, there live the blind texts. Separated they live in
                            Bookmarksgrove right at the coast of the Semantics, a large language
                            ocean.</p>
                          <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                        </div>


                        <ul class="children">
                          <li class="comment">
                            <div class="vcard bio">
                              <img th:src="@{'/elit/images/person_1.jpg'}" alt="Image">
                            </div>
                            <div class="comment-body">
                              <h3>Jean Doe</h3>
                              <div class="meta">January 9, 2018 at 2:21pm</div>
                              <p>A small river named Duden flows by their place and supplies it with
                                the necessary regelialia. It is a paradisematic country, in which
                                roasted parts of sentences fly into your mouth.</p>
                              <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                            </div>

                            <ul class="children">
                              <li class="comment">
                                <div class="vcard bio">
                                  <img th:src="@{'/elit/images/person_4.jpg'}" alt="Image">
                                </div>
                                <div class="comment-body">
                                  <h3>Ben Afflick</h3>
                                  <div class="meta">January 9, 2018 at 2:21pm</div>
                                  <p>Even the all-powerful Pointing has no control about the blind
                                    texts it is an almost unorthographic life One day however a
                                    small line of blind text by the name of Lorem Ipsum decided to
                                    leave for the far World of Grammar.</p>
                                  <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li class="comment">
                    <div class="vcard bio">
                      <img th:src="@{'/elit/images/person_1.jpg'}" alt="Image">
                    </div>
                    <div class="comment-body">
                      <h3>Jean Doe</h3>
                      <div class="meta">January 9, 2018 at 2:21pm</div>
                      <p>Even the all-powerful Pointing has no control about the blind texts it is
                        an almost unorthographic life One day however a small line of blind text by
                        the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                      <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                    </div>
                  </li>
                </ul>
                <!-- END comment-list -->

                <div class="comment-form-wrap pt-5">
                  <h3 class="mb-5">Leave a comment</h3>
                  <form action="#" class="">
                    <div class="form-group">
                      <label for="name">Name *</label>
                      <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email *</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                      <label for="website">Website</label>
                      <input type="url" class="form-control" id="website">
                    </div>

                    <div class="form-group">
                      <label for="message">Message</label>
                      <textarea name="" id="message" cols="30" rows="10"
                                class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Post Comment"
                             class="btn btn-primary btn-md text-white">
                    </div>

                  </form>
                </div>
              </div>

            </div>
            <div class="col-md-4 sidebar">
              <th:block th:replace="~{fragment/nav :: sidebar_search}"></th:block>
              <th:block th:replace="~{fragment/nav :: sidebar_subjects}"></th:block>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                aria-hidden="true"></i> by <a
            href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->

<th:block th:replace="~{fragment/foot :: elit_script}"/>

</body>
</html>