<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" th:href="@{'/assets/img/favicon.ico'}"/>

    <!-- CoreUI CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css"
          crossorigin="anonymous">

    <!-- for icons -->
    <link rel="stylesheet"
          href="https://coreui.io/css/all.min.155c49f47473b30b937e9d69cf43fae6577485bbaf3378b29422f678afe4dc5d.css">
    <title>CoreUI</title>
    <style>
        .table-th{
            font-size: 15px!important;
            vertical-align: middle!important;
        }
    </style>
</head>

<head th:fragment="elit-head">
    <title>Review Your GFriend</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
      th:href="@{'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900|Oswald:400,700'}"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{'/elit/fonts/icomoon/style.css'}">

    <link rel="stylesheet" th:href="@{'/elit/css/bootstrap.min.css'}">
<!--      <link rel="stylesheet" th:href="@{'/elit/css/magnific-popup.css'}">-->
<!--      <link rel="stylesheet" th:href="@{'/elit/css/jquery-ui.css'}">-->
<!--    <link rel="stylesheet" th:href="@{'/elit/css/owl.carousel.min.css'}">-->
<!--    <link rel="stylesheet" th:href="@{'/elit/css/owl.theme.default.min.css'}">-->

<!--      <link rel="stylesheet" th:href="@{'/elit/css/bootstrap-datepicker.css'}">-->

    <link rel="stylesheet" th:href="@{'/elit/fonts/flaticon/font/flaticon.css'}">

    <link rel="stylesheet" th:href="@{'/elit/css/aos.css'}">
    <link rel="stylesheet" th:href="@{'/elit/css/fancybox.min.css'}">

    <link rel="stylesheet" th:href="@{'/elit/css/style.css'}">

</head>
</html>