<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: elit-head}"/>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

<div class="site-wrap">

  <th:block th:replace="~{fragment/nav :: elit-nav-sidebar}"></th:block>
  <main class="main-content">

    <section class="site-section-hero bg-image"
             th:with="thumbUri = #{thumbnail.upload.uri(${post.thumbnail})}"
             th:style="|background-image: url(@{${thumbUri}})|"
             data-stellar-background-ratio="0.5" id="section-home">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-7 text-center">
          <h1 id="single-title"
            class="text-white heading text-uppercase" data-aos="fade-up" th:text="${post.title}">Title</h1>
          <p class="lead text-white mb-5" data-aos="fade-up" data-aos-delay="100">
            <span th:text="${post.createdDate}">Date</span>
            <span th:if="${post.author} != null">
              &bullet; <em>by</em> <span th:text="${post.author?.email}">Author</span>
            </span>
          </p>
        </div>
      </div>
    </section>


    <div class="container-fluid">


      <div class="site-section blog-content-container">
        <div class="container">
          <div class="row">
            <div class="col-md-8 blog-content pr-lg-5">
              <p class="lead blog-content-description"
                 th:text="${post.description}">Description</p>

              <th:block th:utext="${post.content}">
                Content
              </th:block>

              <div class="pt-5">
                <p>
                  Subject :
                  <a th:href="|/subject/${post.subject?.id}|"
                      th:text="${post.subject?.title}"
                  />
                  Hashtag :
                  <a th:href="'/subject/' + ${T(com.rygf.common.Formatter).convertStrToUrl(post.subject?.title)}"
                     th:text="${T(com.rygf.common.Formatter).convertStrToHashtag(post.subject?.title)}"
                     th:if="${post.subject}"
                  />
                </p>
              </div>


              <div class="pt-5">
                <h3 class="mb-5">6 Comments</h3>
                <ul class="comment-list">
                  <li class="comment">
                    <div class="vcard bio">
                      <img th:src="@{'/elit/images/person_2.jpg'}" alt="Image">
                    </div>
                    <div class="comment-body">
                      <h3>Jacob Smith</h3>
                      <div class="meta">January 9, 2018 at 2:21pm</div>
                      <p>When she reached the first hills of the Italic Mountains, she had a last
                        view back on the skyline of her hometown Bookmarksgrove, the headline of
                        Alphabet Village and the subline of her own road, the Line Lane. Pityful a
                        rethoric question ran over her cheek, then she continued her way.</p>
                      <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                    </div>
                  </li>

                  <li class="comment">
                    <div class="vcard bio">
                      <img th:src="@{'/elit/images/person_3.jpg'}" alt="Image">
                    </div>
                    <div class="comment-body">
                      <h3>Chris Meyer</h3>
                      <div class="meta">January 9, 2018 at 2:21pm</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem
                        laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe
                        enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                        nihil?</p>
                      <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                    </div>

                    <ul class="children">
                      <li class="comment">
                        <div class="vcard bio">
                          <img th:src="@{'/elit/images/person_5.jpg'}" alt="Image">
                        </div>
                        <div class="comment-body">
                          <h3>Chintan Patel</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Far far away, behind the word mountains, far from the countries Vokalia
                            and Consonantia, there live the blind texts. Separated they live in
                            Bookmarksgrove right at the coast of the Semantics, a large language
                            ocean.</p>
                          <p><a th:href="@{'/'}" class="reply">Reply</a></p>
                        </div>

                      </li>
                    </ul>
                  </li>

                </ul>
                <!-- END comment-list -->

                <div class="comment-form-wrap pt-5">
                  <h3 class="mb-5">Leave a comment</h3>
                  <form action="#" class="">
                    <div class="form-group">
                      <label for="name">Name *</label>
                      <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email *</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                      <label for="website">Website</label>
                      <input type="url" class="form-control" id="website">
                    </div>

                    <div class="form-group">
                      <label for="message">Message</label>
                      <textarea name="" id="message" cols="30" rows="10"
                                class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Post Comment"
                             class="btn btn-primary btn-md text-white">
                    </div>

                  </form>
                </div>
              </div>

            </div>
            <div class="col-md-4 sidebar">
              <th:block th:replace="~{fragment/nav :: sidebar-search}"></th:block>
              <th:block th:replace="~{fragment/nav :: sidebar-subjects}"></th:block>
              <div class="sidebar-box">
                <img th:src="@{'/elit/images/person_1.jpg'}" alt="Image"
                     class="img-fluid mb-4 w-50 rounded-circle">
                <h3 class="mt-4 text-center text-white">About The Author</h3>
                <p th:text="${post.author?.email}"></p>
                <p><a th:href="@{'/'}" class="btn btn-primary btn-md text-white">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                aria-hidden="true"></i> by <a
            href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->

<th:block th:replace="~{fragment/foot :: elit-script(_)}"/>

</body>
</html>