<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head th:replace="~{fragment/head :: html-head(_)}"/>
<body class="c-app">
<th:block th:replace="~{fragment/nav :: sidebar}"></th:block>

<!--
    WRAPPER
-->
<div class="c-wrapper c-fixed-components" th:replace="~{fragment/body :: mainbody(~{:: #page-body}, ~{:: #body-nav})}">

    <ul class="c-header-nav d-md-down-none" id="body-nav">
        <li class="c-header-nav-item px-3"
            sec:authorize="hasAuthority('USER_CREATE')"
        ><a class="c-header-nav-link btn btn-success text-white"
            th:href="@{${T(com.rygf.common.GetLink).DASHBOARD_USER_CREATE_URI}}">Create</a></li>
        </li>
    </ul>
    <!--
        BODY
    -->
    <div class="c-body" id="page-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">

                    <!--    NOTIFICATION ALERT  -->
                    <th:block
                        th:replace="~{fragment/layout :: crud_notification}"
                    />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">Users</div>
                                <div class="card-body">
                                    <div class="alert alert-light" role="alert" th:if="${#lists.size(users)} == 0">
                                        There is no user !
                                    </div>
                                    <table
                                        th:if="${#lists.size(users)} != 0"
                                        class="table table-responsive-sm table-hover table-outline mb-0">
                                        <thead class="thead-light">
                                        <tr>
                                            <th class="text-center table-th">
                                                <svg class="c-icon">
                                                    <use
                                                        th:href="@{'/vendors/@coreui/icons/svg/free.svg#cil-people'}"></use>
                                                </svg>
                                            </th>
                                            <th class="text-center table-th">Email</th>
                                            <th class="table-th">Enabled</th>
                                            <th class="text-center table-th">Role</th>
                                            <th class="table-th">Created Date</th>
                                            <th sec:authorize="hasAuthority('USER_UPDATE')"></th>
                                            <th sec:authorize="hasAuthority('USER_DELETE')"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td class="text-center">
                                                <span class="text-muted" th:text="'#' + ${user.id}"></span>
                                            </td>
                                            <td class="text-center">
                                                <div th:text="${user.email}">Email</div>
                                            </td>
                                            <td>
                                                <div th:text="${user.isEnabled()}">Enabled</div>
                                            </td>
                                            <td class="text-center">
                                                <div th:text="${user.role?.name} ?: 'Unknown'">Role</div>
                                            </td>
                                            <td>
                                                <div th:text="${#temporals.format(user.createdDate, 'dd/MM/yyyy')}">Created Date</div>
                                            </td>
                                            <td class="text-center" sec:authorize="hasAuthority('USER_UPDATE')">
                                                <a th:href="@{${user.selfLinkUpdate()}}" class="btn btn-pill btn-warning text-white">Update</a>
                                            </td>
                                            <td class="text-center" sec:authorize="hasAuthority('USER_DELETE')">
                                                <a class="btn btn-square btn-danger text-white btn-del"
                                                    th:obj-id="${user.id}"
                                                    th:obj-name="${user.email}"
                                                    obj-type="user"
                                                    th:obj-del-url="@{${user.selfLinkDelete()}}"
                                                    data-toggle="modal" data-target="#del-modal"
                                                >Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-->
                    </div>
                    <!-- /.row-->
                </div>
            </div>
        </main>
    </div>
</div>
<!--
    END BODY
-->


<!-- Modal -->
<th:block th:replace="~{fragment/layout :: del_modal}"></th:block>

<th:block th:replace="~{fragment/foot :: scripts(_)}"></th:block>
<th:block th:replace="~{fragment/layout :: del_modal_script}"></th:block>
</body>
</html>