<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: elit-head}"></head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">


<div class="site-wrap">

  <th:block th:replace="~{fragment/nav :: elit-nav-sidebar}"></th:block>

  <main class="main-content">

    <div class="container-fluid">

      <section class="row align-items-stretch photos"
               th:if="${#lists.size(posts)} != 0"
               id="section-photos">
        <div class="col-12">
          <div class="row align-items-stretch">

            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up"
                 th:each="subject : ${subjects}"
                 th:data-aos-delay="${T(Double).valueOf(T(java.lang.Math).random() * 700 + 100).intValue()}"  >
              <a th:href="@{${subject.selfLinkThumbUri()}}" class="d-block photo-item"
                 data-fancybox="gallery"
                 th:data-obj-title="${subject.getFormatTitle(4)}"
                 th:data-obj-about="${subject.getFormatAbout(23)}"
                 th:data-obj-url="@{${subject.selfLinkDetail()}}"
              >
                <img th:src="@{${subject.selfLinkThumbUri()}}" alt="Image" class="mg-fluid">
                <div class="photo-text-more">
                  <h1 alt="gfriend's title" th:text="${subject.getFormatTitle(14)}">Name</h1>
                  <p alt="gfriend's about'" th:text="${subject.getFormatAbout(40)}">Age</p>
                </div>
              </a>
            </div> <!-- #item-photo -->

          </div>
        </div>
      </section> <!-- #section-photos -->

      <section class="site-section" id="section-blog">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="row">
                <h2 class="heading text-uppercase text-white" data-aos="fade-up">Blog</h2>
                <p class="lead w-100" th:if="${#lists.size(posts)} == 0">
                  There is no post !
                </p>
                <div class="col-md-12 mb-4"
                     th:if="${#lists.size(posts)} != 0"
                     data-aos="fade-up">

                  <div class="d-md-flex d-block blog-entry align-items-start mb-lg-0 mb-5"
                    th:each="post : ${posts}"
                  >
                    <div class="mr-0 mr-md-5 mb-3 img-wrap"><a th:href="@{${post.selfLinkDetail()}}"><img
                      th:src="@{${post.selfLinkThumbUri()}}" alt="Image" class="img-fluid"></a></div>
                    <div>
                      <h2 class="mt-0 mb-2">
                        <a th:href="@{${post.selfLinkDetail()}}"
                            th:text="${post.title}"
                        />
                      </h2>
                      <div class="meta mb-3">Posted by
                        <a
                           th:href="${post.author != null} ? @{${post.author.selfLinkPosts()}} : '#'"
                           th:text="${post.author?.getDisplayName()} ?: 'Unknown'"/> on
                        <a th:href="@{'/'}" th:text="${post.createdDate}">Date</a></div>
                      <p th:text="${post.getFormatDescription(23)}">Description</p>
                    </div>
                  </div> <!--#blog item-->

                </div> <!-- #blog item container -->

                <div class="col-12 text-center">
                  <div class="custom-pagination" th:if="${totalItems} != 0">
                    <a th:href="@{'/1'}" th:if="${curPage} != 1">First</a>
                    <a th:href="@{|/${curPage - 1}|}"
                       th:if="${curPage - 1} > 0"
                    ><i class="icon-arrow-left" aria-hidden="true"></i></a>
                    <th:block th:each="seq : ${#numbers.sequence(-2, 2, 1)}">
                      <span th:text="${curPage + seq}"
                            th:if="(${curPage + seq} > 0)
                            and (${curPage + seq} <= ${totalPages})
                            and (${curPage + seq} == ${curPage})"
                      />


                      <a th:text="${curPage + seq}"
                         th:href="@{|/${curPage + seq}|}"
                         th:if="(${curPage + seq} > 0)
                         and (${curPage + seq} <= ${totalPages})
                         and (${curPage + seq} != ${curPage})"/>
                    </th:block>
                    <a th:href="@{|/${curPage + 1}|}"
                       th:if="${curPage + 1} <= ${totalPages}"
                    ><i class="icon-arrow-right" aria-hidden="true"></i></a>
                    <a th:href="@{|/${totalPages}|}" th:if="${curPage} != ${totalPages}">Last</a>
                  </div>
                </div> <!-- #pagination -->


              </div>
            </div>
          </div>
        </div>
      </section>


      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                aria-hidden="true"></i> by <a
            th:href="@{'/https://colorlib.com'}" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->

<th:block th:replace="~{fragment/foot :: elit-script(~{::script})}">
  <script>
    $(document).ready(function() {
      $(".nav-link").removeClass("active");
      $(".nav-link").click(function() {
        $(".nav-link").removeClass("active");
        $(this).addClass("active");
      });
    });

    $('[data-fancybox]').fancybox({
      caption : function( instance, item ) {
        var title = $(this).data("obj-title");
        var about = $(this).data("obj-about");
        var url = $(this).data("obj-url");
        if(title === null || about === null || url === null)
          return "Sorry for this ! Caption can\'t be shown";

        var caption =
            "<p>Name : <span id='caption-title'>" + title + "</span></p>" +
            "<p>About : <span id='caption-about'>" + about + "</span></p>" +
            "<p><a id='caption-url' href='" + url + "'>Checkout more</a></p>";

        return caption;
      }
    });
  </script>
</th:block>
</body>
</html>