<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <title>Login Page</title>
   <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
   <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/iconic/css/material-design-iconic-font.min.css}">
   <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" th:href="@{/assets/css/util.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}">
   <style>
      label.main-error {
         border-bottom: 1px solid lightgrey;
         margin: -10px 0 14px 6px;
         padding-bottom: 11px;
         color: red;
      }

      label.main-error::before {content: "(*)"}

      label.error {
         border-top: 1px solid lightgrey;
         margin: -10px 0 9px 23px;
         padding-top: 11px;
         color: red;
      }

      label.error::before {content: "(*)"}
   </style>
   <!--===============================================================================================-->
</head>
<body>


<!--<div class="container-login100" style="background-image: url('images/bg-01.jpg');">-->
<div class="container-login100">
   <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <form class="login100-form" id="form"
            th:action="@{${T(com.rygf.common.GetLink).RESET_PASSWORD_PROCESS_URI}}" method="post"
      >
				<span class="login100-form-title p-b-37">
					Reset Password
				</span>
         <h5 class="lead text-muted">Now you can change password for your account</h5>
         <p class="mb-5" style="font-size: 16px">Account : <u>[[${#authentication.name}]]</u></p>
         <div class="wrap-input100 m-b-25">
            <input class="input100" type="password" name="password" id="password"
                   placeholder="password">
            <span class="focus-input100"></span>
         </div>

         <div class="wrap-input100 m-b-25">
            <input class="input100" type="password" id="re-password" name="re-password"
                   placeholder="re-password">
            <span class="focus-input100"></span>
         </div>

         <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
               Save
            </button>
         </div>
      </form>

   </div>
</div>


<!--===============================================================================================-->
<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
        type="text/javascript"></script>
<script>
  $(document).ready(function () {
    $("#form").validate({
      onfocusout: false,
      onkeyup: false,
      onclick: false,
      rules: {
        "password": {
          required: true,
          // minlength: 8
        },
        "re-password": {
          equalTo: "#password",
        }
      },
      messages: {
        "password": {
          required: "Bắt buộc nhập password",
          minlength: "Hãy nhập ít nhất 8 ký tự"
        },
        "re-password": {
          equalTo: "Hai password phải giống nhau",
        }
      }
    });
    $("#sso-login *").click(function(e) {
      alert("Sorry! This feature aren't supported for now\nPlease register and login with normal account");
      e.stopPropagation();
    });
  });
</script>

</body>
</html>