<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head th:replace="~{fragment/head :: html-head(_)}"/>
<body class="c-app">
<th:block th:replace="~{fragment/nav :: sidebar}"></th:block>

<!--
    WRAPPER
-->
<div class="c-wrapper c-fixed-components" th:replace="~{fragment/body :: mainbody(~{:: #page-body}, ~{:: #body-nav})}">

    <ul class="c-header-nav d-md-down-none" id="body-nav">
        <li class="c-header-nav-item px-3"
            sec:authorize="hasAuthority('ROLE_CREATE')"
        ><a class="c-header-nav-link btn btn-success text-white" th:href="@{'/dashboard/role/create'}">Create</a></li>
        </li>
    </ul>
    <!--
        BODY
    -->
    <div class="c-body" id="page-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">

                    <!--    NOTIFICATION ALERT  -->
                    <th:block
                        th:replace="~{fragment/layout :: crud_notification}"
                    />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">Roles</div>
                                <div class="card-body">
                                    <div class="alert alert-light" role="alert" th:if="${#lists.size(roles)} == 0">
                                        There is no role !
                                    </div>
                                    <table
                                        th:if="${#lists.size(roles)} != 0"
                                        class="table table-responsive-sm table-hover table-outline mb-0">
                                        <thead class="thead-light">
                                        <tr>
                                            <th class="text-center table-th">
                                                <svg class="c-icon">
                                                    <use
                                                        th:href="@{'/vendors/@coreui/icons/svg/free.svg#cil-people'}"></use>
                                                </svg>
                                            </th>
                                            <th class="text-center table-th">Name</th>
                                            <th class="table-th">Privileges</th>
                                            <th class="table-th">Created Date</th>
                                            <th sec:authorize="hasAuthority('ROLE_UPDATE')"></th>
                                            <th sec:authorize="hasAuthority('ROLE_DELETE')"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="role : ${roles}">
                                            <td class="text-center">
                                                <span class="text-muted" th:text="'#' + ${role.id}"></span>
                                            </td>
                                            <td class="text-center">
                                                <div th:text="${role.name}">Email</div>
                                            </td>
                                            <td>
                                                <th:block th:each="pri : ${role.privileges}">
                                                    <span th:text="${pri.name()}"/><br>
                                                </th:block>
                                            </td>
                                            <td>
                                                <div th:text="${#temporals.format(role.createdDate, 'dd/MM/yyyy')}">Created Date</div>
                                            </td>
                                            <td class="text-center" sec:authorize="hasAuthority('ROLE_UPDATE')">
                                                <a th:href="@{|/dashboard/role/${role.id}/update|}" class="btn btn-pill btn-warning text-white">Update</a>
                                            </td>
                                            <td class="text-center" sec:authorize="hasAuthority('ROLE_DELETE')">
                                                <a class="btn btn-square btn-danger text-white btn-del"
                                                    th:obj-id="${role.id}"
                                                    th:obj-name="${role.name}"
                                                    obj-type="role"
                                                    th:obj-del-url="@{|/dashboard/role/${role.id}/delete|}"
                                                    data-toggle="modal" data-target="#del-modal"
                                                >Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-->
                    </div>
                    <!-- /.row-->
                </div>
            </div>
        </main>
    </div>
</div>
<!--
    END BODY
-->


<!-- Modal -->
<th:block th:replace="~{fragment/layout :: del_modal}"></th:block>

<th:block th:replace="~{fragment/foot :: scripts(_)}"></th:block>
<th:block th:replace="~{fragment/layout :: del_modal_script}"></th:block>
</body>
</html>