<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragment/head :: html-head(_)}"/>
<body class="c-app">
<th:block th:replace="~{fragment/nav :: sidebar}"></th:block>

<!--
    WRAPPER
-->
<div class="c-wrapper c-fixed-components"
     th:replace="~{fragment/body :: mainbody(~{:: #page-body}, ~{:: #body-nav})}">
  <ul class="c-header-nav d-md-down-none" id="body-nav">
    <li class="c-header-nav-item px-3"><a class="c-header-nav-link"
                                          th:href="@{'/dashboard/role'}">Dashboard</a>
    </li>
  </ul>

  <!--
        BODY
    -->
  <div class="c-body" id="page-body">
    <main class="c-main">
      <div class="container-fluid">
        <div class="fade-in">

          <div class="row">
            <div class="col-xl-8 mr-lg-auto col-md-10 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <!--  BEGIN FORM-->
                  <form th:action="@{${T(com.rygf.common.GetLink).DASHBOARD_ROLE_PROCESS_URI}}" method="post"
                        th:object="${role}">
                    <!-- ID -->
                    <input type="hidden" th:field="*{id}">

                    <!-- Name -->
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control"
                             th:field="*{name}"
                             th:errorclass="is-invalid"
                             placeholder="Name">
                      <th:block th:if="${#fields.hasErrors('name')}">
                        <div class="valid-feedback" style="display: block; color: red;"
                             th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                      </th:block>
                    </div>

                    <div class="form-group">
                      <label>Privileges</label>
                      <div class="alert alert-light" role="alert" th:if="${#lists.size(privileges)} == 0">
                        There is no privilege !
                      </div>
                      <input type="text"
                             class="form-control form-control-sm my-3"
                             id="find-privilege"
                             placeholder="Privileges filter...">
                      <div class="form-check" th:each="pri : ${privileges}">
                        <input class="form-check-input" type="checkbox"
                               th:value="${pri}"
                               th:field="*{privileges}">
                        <label class="form-check-label" th:text="${pri.name()}"/>
                      </div>
                      <th:block th:if="${#fields.hasErrors('privileges')}">
                        <div class="valid-feedback" style="display: block; color: red;"
                             th:each="err : ${#fields.errors('privileges')}" th:text="${err}"/>
                      </th:block>
                    </div>

                    <div class="row">
                      <div class="col text-left">
                        <button class="btn btn-success px-4 mr-3" type="submit">Submit</button>
                      </div>
                    </div>
                  </form>

                  <!--  END FORM-->
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
        </div>
      </div>
    </main>
  </div>
</div>
<!--
    END BODY
-->
<th:block th:replace="~{fragment/foot :: scripts(~{::script})}">
  <script th:src="@{'/elit/js/jquery-3.3.1.min.js'}"></script>
  <script>
    function delay(callback, ms) {
      var timer = 0;
      return function() {
        var context = this, args = arguments;
        clearTimeout(timer);
        timer = setTimeout(function () {
          callback.apply(context, args);
        }, ms || 0);
      };
    }

    $(document).ready(function() {
      var find = $("#find-privilege");
      find.keyup(delay(function (e) {
        filterPrivileges($(this).val());
      }, 50));
    });

    function filterPrivileges(value) {
      value = value.toLowerCase();
      $(".form-check-label").filter(function() {
        var checkbox = $(this);
        checkbox.closest(".form-check").toggle(checkbox.text().toLowerCase().indexOf(value) > -1);
      });
    }
  </script>
</th:block>
</body>
</html>